@charset "UTF-8";

@font-face {
    font-family: 'montserrat-black';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-italic';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff');
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-extra-light';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'montserrat-extra-bold';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-medium-italic';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'montserrat-light-italic';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-semi-bold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'montserrat-thin';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'barlow-semibold';
    src: url('../fonts/BarlowCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(10,36,65, 01)), url('../pics/summit_bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-white-tiles {
    background-image: url('../pics/main-background-tile.png');
}

#main_page_intro::before {
    content: "";
    /* position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    opacity: .5; 
    z-index: -1; */
    background-image: url('../pics/main-background-tile.png');
    /* background-size: cover;
    position: absolute;
    opacity: 0.75; */
  }

/* #143251 #B2D5EC #6F9DC4 #8CABCD */

.text-prim-color {
    color: #143251;
}

.text-prim-light-color {
    color: #B2D5EC;
}

.errorlist {
    color: #B2D5EC;
    list-style: none;
    margin-top: 25px;
    text-align: center;
}

.home-links {
    text-align: center;
    padding: 20px 0;
    color: #143251 !important;
    transition: color 0.75s;
}

.home-links:hover {
    color: #8CABCD !important;
}

/* text-info = #0dcaf0; */

.inline-link {
    display: inline;
    color: #143251;
    font-family: 'monospace';
    text-decoration: none;
    transition: color .5s;
}

.inline-link:hover {
    color: #ffffff !important;
}

.font-montserrat-thin {
    font-family: 'montserrat-thin' !important;
}

.font-montserrat-regular {
    font-family: 'montserrat-regular' !important;
}

.font-montserrat-semi-bold {
    font-family: 'montserrat-semi-bold' !important;
}

.font-montserrat-light {
    font-family: 'montserrat-light' !important;
}

.font-montserrat-light-italic {
    font-family: 'montserrat-light-italic' !important;
}

.font-montserrat-medium-italic {
    font-family: 'montserrat-medium-italic' !important;
}


.font-montserrat-medium {
    font-family: 'montserrat-medium' !important;
}

.font-montserrat-bold {
    font-family: 'montserrat-bold' !important;
}


.font-barlow-semibold {
    font-family: 'barlow-semibold' !important;
}